{
  "extends": [
    "plugin:react/recommended",
    "plugin:react-native/all",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["react", "react-native", "prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "parser": "babel-eslint"
}
